In [1]:
import pandas as pd
from astroquery.simbad import Simbad
df = pd.read_csv('gpi_campaign_list.csv')
df.head()

,star,ra,dec,comment,ra_deg,dec_deg
0,HIP 159,00:02:02.6,-02:45:58.2,H-coron (~1 hr),0.510833,-2.766167
1,HD 105,00:05:52.5,-41:45:11.0,H-coron (~1 hr),1.468750,-41.753056
2,HR 9,00:06:50.1,-23:06:27.1,H-coron (~1 hr); H-coron-pol,1.708750,-23.107528
3,HD 377,00:08:26,06:37:00,H-coron-pol; H-coron-pol,2.108333,6.616667
4,HIP 795,00:09:51.6,08:27:11.5,H-coron (~1 hr),2.465000,8.453194

In [2]:
customSimbad = Simbad()
customSimbad.remove_votable_fields('coordinates')
customSimbad.get_votable_fields()

['main_id']

In [3]:
Simbad.get_field_description ('fe_h')

Stellar parameters (Teff, log(g) and [Fe/H]) taken from the literature.

In [4]:
customSimbad.add_votable_fields('ra(2;A;ICRS;J2017.5;2000)', 'dec(2;D;ICRS;2017.5;2000)', 'sp', 'distance', 'diameter', 'flux(I)', 'flux(H)', 'fe_h')

Beta pic MG:
- Not in GPI: GJ 3305, HD 155555C, AT Mic (HIP 102409, GJ 803), HIP 29964 (AO Men), BD -176128 (AZ Cap)
- In GPI: HIP 23309, AU Mic

In [15]:
customSimbad.query_object('HIP 23309')

<Table masked=True length=1>
  MAIN_ID   RA_2_A_ICRS_J2017_5_2000 ... Fe_H_CatNo     Fe_H_bibcode
                    "h:m:s"          ...
   object            str13           ...    str5           str19
----------- ------------------------ ... ---------- -------------------
CD-57  1054            05 00 47.2059 ...            2014MNRAS.443.2561G

In [5]:
def query(row):
    res = customSimbad.query_object(row['star'])
    res = res.to_pandas()
    row = pd.concat([row, res.loc[0]])
    return row

In [6]:
df1 = df.loc[0:100]
df1 = df1.apply(query, axis=1)

In [7]:
df2 = df.loc[100:200]
df2 = df2.apply(query, axis=1)

In [9]:
df3 = df.loc[200:300]
df3 = df3.apply(query, axis=1)

In [10]:
df4 = df.loc[300:400]
df4 = df4.apply(query, axis=1)

In [11]:
df5 = df.loc[400:500]
df5 = df5.apply(query, axis=1)

In [12]:
df6 = df.loc[500:600]
df6 = df6.apply(query, axis=1)

In [13]:
df7 = df.loc[600:700]
df7 = df7.apply(query, axis=1)

In [14]:
stellarpar = pd.concat([df1, df2, df3, df4, df5, df6, df7])
stellarpar.tail()

,star,ra,dec,comment,ra_deg,dec_deg,MAIN_ID,RA_2_A_ICRS_J2017_5_2000,DEC_2_D_ICRS_2017_5_2000,SP_TYPE,...,Diameter_bibcode,FLUX_I,FLUX_H,Fe_H_Teff,Fe_H_log_g,Fe_H_Fe_H,Fe_H_flag,Fe_H_CompStar,Fe_H_CatNo,Fe_H_bibcode
626,HIP 117219,23:46:01.2,-40:10:56.9,H-coron (~1 hr),356.505000,-40.182472,b'HD 223011',23 46 01.4123,-40 10 57.234,b'A7III/IV',...,,NaN,5.879,7834,NaN,NaN,,b'SUN',,2012A&A...537A.120Z
627,HIP 117452,23:48:55.6,-28:07:49.0,H-coron (~1 hr); H-coron-pol,357.231667,-28.130278,b'* del Scl',23 48 55.6799,-28 07 48.974,b'A0Vnp',...,,4.550,4.643,9863,NaN,NaN,,b'SUN',,2006A&A...458..293P
628,HIP 117481,23:49:19.6,-27:51:14.9,H-coron (~1 hr); H-coron-pol,357.331667,-27.854139,b'HD 223408',23 49 19.4270,-27 51 15.328,b'F6V',...,,6.370,5.787,6255,4.18,NaN,,b'',,2003AJ....125.1598L
629,HIP 118008,23:56:10.7,-39:03:08.4,H-coron (~1 hr); H-coron-pol,359.044583,-39.052333,b'HD 224228',23 56 10.9830,-39 03 08.409,b'K2V',...,,7.194,6.007,0,NaN,NaN,,b'',,
630,HIP 118121,23:57:35.0,-64:17:53.1,H-coron (~1 hr),359.395833,-64.298083,b'* eta Tuc',23 57 35.2906,-64 17 53.622,b'A1V',...,,NaN,4.949,9057,NaN,NaN,,b'SUN',,2012A&A...537A.120Z

In [17]:
def bytes_to_string(row):
    row['S_Type'] = row['SP_TYPE'].decode('ascii')
    return row

stellarpar = stellarpar.apply(bytes_to_string, axis=1)

0             A8/9V
1               G0V
2               F3V
3               G2V
4           G6V+G7V
5               G8V
6               F7V
7               G8V
8               F6V
9               F8V
10            G2.5V
11            A5IVn
12             A1Va
13            B8/A0
14             K4Ve
15              F2V
16          G1V+K5V
17              F7V
18     A3VpSrCr_Ksn
19            F7/8V
20              F7V
21               G5
22              K0V
23              G5V
24            K0III
25              F7V
26              F6V
27              G9V
28              G7V
29              G6V
           ...
601             G0V
602       G0VCH-0.3
603          F0IV-V
604            K4Ve
605             A4V
606             G5V
607             G1V
608             F7V
609      F0+VkA5mA5
610             G8V
611             F6V
612             G5V
613      A2VpSrCrSi
614            G8IV
615            M2Ve
616             G1V
617            K0IV
618            M0Ve
619             K2V
620              F0
621            A0Vn
622            K3Ve
623
624             A7V
625             B9V
626        A7III/IV
627           A0Vnp
628             F6V
629             K2V
630             A1V
Name: S_Type, Length: 637, dtype: object

In [20]:
del stellarpar['SP_TYPE']

In [22]:
stellarpar.to_csv('stellarparameters.csv')