In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Zhang et al 2018 DSHARP VII argue flat in log a, flat in log m, occur ~ 50%
amin = 10 # AU
amax = 200 # AU
Mmin = 15 # Mearth (Nep)
Mmax = 318 # Mearth (Jup)

# Draw a planet half the time
Draw semimajor axis loguniformly between bounds in a, m loguniformly between bounds in m

In [4]:
GPI = pd.read_csv("../GPIMdwarfs.csv", index_col=0)
GPI.tail()

,S_Type,Distance_distance,FLUX_I,FLUX_H,Fe_H_Teff,Class,subtype,Mass,Lum,contrast_thresh
552,M1VeBa1,9.7248,6.593,4.831,3742,M,1,0.49,0.0350,3.000000e-07
585,M2Ve,14.8604,8.101,6.086,3515,M,2,0.44,0.0230,2.000000e-06
600,M4IVe,20.8587,9.109,7.150,3290,M,4,0.20,0.0055,3.000000e-06
615,M2Ve,15.9564,8.599,6.608,3481,M,2,0.44,0.0230,2.000000e-06
618,M0Ve,27.3734,8.646,6.770,3797,M,0,0.60,0.0720,2.000000e-06

In [5]:
GPI.shape

(23, 10)

In [ ]:
M0 = 100 * Mmoon
Mplt = 20 # earth masses
age = 5.e7 # yrs